.main-background
  z-index -1
  position absolute
  left 0px
  top 0px
  width 2227px
  height 2080px
  opacity 0.6

.item-container
  z-index 2
  width 2212px
  height 416px

.item
  float left
  width 300px
  height 400px
  background-color #f7ecb5
  margin 8px
  padding 10px